body {
  padding: 50px;
  font-family: 'Bebas Neue', cursive;
  font: 30px;
  color: rgb(166, 16, 41)
}

a {
  color: rgb(8, 27, 88);
}

h1 {
  color: rgb(166, 16, 41);
}

h3 {
  color: rgb(166, 16, 41);
}